<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet_PurpleBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,67}}</string>
                <key>sourceSize</key>
                <string>{98,67}</string>
            </dict>
            <key>Bullet_PurpleBall_Exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>Bullet_SmallFireBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>Effect_PurpleCircle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>Effect_PurpleCircle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>Effect_PurpleCircle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>Effect_PurpleCircle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>Effect_TowerExplosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{27,39}</string>
            </dict>
            <key>Effect_TowerExplosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{49,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{49,62}</string>
            </dict>
            <key>Effect_TowerExplosion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,73},{114,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,104}}</string>
                <key>sourceSize</key>
                <string>{114,104}</string>
            </dict>
            <key>Effect_TowerExplosion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,73},{146,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,132}}</string>
                <key>sourceSize</key>
                <string>{146,132}</string>
            </dict>
            <key>Effect_TowerExplosion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,73},{159,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,168}}</string>
                <key>sourceSize</key>
                <string>{159,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Effect.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9bac2180e555b0c0fdf8201db251554:9a9ba19fef1ae2f443003b5e35c49ae6:062dea38da3f7e35ccee1d80c412f4bd$</string>
            <key>textureFileName</key>
            <string>Effect.png</string>
        </dict>
    </dict>
</plist>
