<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet_GreenBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Hero_Cat_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,129},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,129},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,129},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,129},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,129},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,256},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,256},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,256},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,256},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,256},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,383},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,383},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,383},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,383},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait4.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,383},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,510},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,510},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait8.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,510},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e612ba04c30114751c4a195ee0f97ef:d7712d415be8680dfe112d28b39d0799:39db81978b5d821c653ed2e674af469f$</string>
            <key>textureFileName</key>
            <string>Hero.png</string>
        </dict>
    </dict>
</plist>
