<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet_GreenBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Hero_Cat_SkillFirst1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Hero_Cat_SkillFirst10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Hero_Cat_SkillFirst11.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Hero_Cat_SkillFirst12.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Hero_Cat_SkillFirst2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Hero_Cat_SkillFirst3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,154},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Hero_Cat_SkillFirst4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,154},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Hero_Cat_SkillFirst5.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,154},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Hero_Cat_SkillFirst6.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,154},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Hero_Cat_SkillFirst7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Hero_Cat_SkillFirst8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,306},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Hero_Cat_SkillFirst9.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,306},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Hero_Cat_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,306},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,306},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,458},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,458},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,458},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,458},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,458},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,585},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,585},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,585},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>Hero_Cat_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,585},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,585},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,712},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,712},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,712},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,712},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,712},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,839},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,839},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,839},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait5.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,839},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,839},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Hero_Cat_wait8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,966},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e414cde2d636da24ab998bb05da884b9:790aea293e29e2817cfc02a6adcf994f:39db81978b5d821c653ed2e674af469f$</string>
            <key>textureFileName</key>
            <string>Hero.png</string>
        </dict>
    </dict>
</plist>
