<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tower_Barrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,198}}</string>
                <key>sourceSize</key>
                <string>{120,198}</string>
            </dict>
            <key>Tower_Magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{103,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,180}}</string>
                <key>sourceSize</key>
                <string>{103,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tower.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33f7ca90b2b5105473209310b19578fd:0741a0ae6852498a9eb57fe2cb88ec3b:b43693b1cbc56c0101d4756a7d79f5dc$</string>
            <key>textureFileName</key>
            <string>Tower.png</string>
        </dict>
    </dict>
</plist>
