<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tower_Barrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,198}}</string>
                <key>sourceSize</key>
                <string>{120,198}</string>
            </dict>
            <key>Tower_Magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{103,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,180}}</string>
                <key>sourceSize</key>
                <string>{103,180}</string>
            </dict>
            <key>Tower_Rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tower.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8ceac826896b15a86d0b820321c1fb3:039dc9aaf3f85f6b0a8a06419845cec8:b43693b1cbc56c0101d4756a7d79f5dc$</string>
            <key>textureFileName</key>
            <string>Tower.png</string>
        </dict>
    </dict>
</plist>
